// bower:scss
// endbower

$yellow: hsla(44, 91%, 65%, 1);
$beige: #f4dd9a;
$blue: rgba(0, 175, 233, 1.0);
$pink: rgba(237, 0, 136, 1.0);
$darkGrey: hsl(0, 0%, 13%);
$lightGrey: hsl(0, 0%, 81%);
$browser-context: 20;

@mixin font-settings {
  font-kerning: normal;
  font-variant: common-ligatures contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@function cartoon-shadows($number, $index, $color, $borderColor) {
  $shadows: 3px 0 0 $borderColor, -3px 0 0 $borderColor, 0 3px 0 $borderColor, 0 -3px 0 $borderColor;

  @for $i from 1 through $number {
    $shadows: append($shadows, -#{$i*6}px #{$i*4}px $color);
    $shadows: append($shadows, -#{$i*6+3}px #{$i*4}px $borderColor);
    $shadows: append($shadows, -#{$i*6}px #{$i*4-3}px $borderColor);
    $shadows: append($shadows, -#{$i*6}px #{$i*4+3}px $borderColor);
  }

  @return $shadows;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 0; margin: 0;
  @include font-settings;
	font: 400 1.25em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background: $blue;
	color: $darkGrey;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
  @include font-settings;
	font-family: 'Rakkas';
	font-weight: 400;
}

h2 {
	font-family: 'Rakkas';
	font-weight: 400;
}

h3 {
  font-family: 'Rakkas';
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

p {
  max-width: 30em;
}

ol {
  max-width: 30em;
}

ul p {
  margin-bottom: .5em;
}

ul ul {
  margin-top: 0;
  font-size: 0.8em;
  margin-bottom: 1em;
}

code {
  font-family: Menlo, monospace;
}

blockquote {
  margin: 0;
}

blockquote + p {
  margin-left: 1.5em;
  font-weight: 700;
}

.internship__header {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	padding: 0 5vw;

  @media screen and (min-width: 33.125em) {
    padding: 0 0 0 10vw;
  }
}

.internship__header h1 {
  font-family: 'Amatica SC';
  font-size: 16vw;
  color: $pink;
  margin-bottom: 0;
  line-height: 1;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black;

  @media (min-width: 33.125em) {
    font-size: 15vw;
    font-family: 'Amatica SC';
    line-height: 1.2;
    text-shadow: cartoon-shadows(10, 1, $pink, black);
    text-transform: uppercase;
    margin-bottom: .25em;
  }

  @media (min-width: 56.25em) {
    margin-top: 0.25em;
    line-height: 1.1;
  }

  @media (min-width: 88.125em) {
    margin-top: 0.1em;
  }
}

.internship__logo {
  color: #000105;
  flex: 1 1 auto;
  width: 40vw;
  margin: 1.5em 0;
}

.internship__body {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0 5vw 0 0;

  @media screen and (min-width: 33.125em) {
    margin: 0 5vw;
    padding: 0 5vw;
  }
}

.internship__leader {
	font-size: 1.5em;
  font-weight: 600;
  flex-basis: 100%;
  margin-bottom: 0;
  margin-left: 5vw;

  @media screen and (min-width: 33.125em) {
    margin-left: 0;
  }
}

.internship__meta {
  flex-basis: 100%;
	margin-bottom: 1.5em;
  margin-left: 5vw;

  @media screen and (min-width: 33.125em) {
    margin-left: 0;
  }
}

.internship__section {
	background: white;
  padding: 2vw 4vw;
  margin-bottom: 5vw;
}

.internship__section--work {
  .internship__subsection {
    margin-top: 3em;

    @media screen and (min-width: 56.25em) {
      columns: 2;
    }
  }
}

.internship__section--quality {

}

.internship__section--takeaway {
  @media screen and (min-width: 56.25em) {
    columns: 2;
    column-gap: 3em;
  }
}

.internship__section-subtitle {
  column-span: all;
}

.internship__quote {
  font-size: 1.2em;
  font-weight: 300;
}

.internship__video video {
  width: 100%;
  height: auto;
}

.internship__video-caption {
  font-style: italic;
  text-align: center;
}

.contact {
  background: white;
  padding: 2vw 4vw;
  margin-bottom: 5vw;
}

.accessibility {
	position: absolute !important;
  left: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
